.title{
  color: #61DAFB;
  text-align: center;
}
.redux {
  a{
    margin: 0 10px;
    font-size: 20px;
    color: white;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    transition: color 0.5s;
    &:hover{
      color: grey;
    }
  }
}
.link-group{
  margin-top: 50px;
  text-align: center;
}